.separator .line {
    -fx-background: le-dark-gray;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: le-gray;
    -fx-border-color: border-color;
}

.scroll-pane > .viewport {
    -fx-background-color: le-gray;
}