HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.jar
src/jdocs/com/taco/suit_lady/view/ui/ui_internal/contents/ReadOnlySelectedDummyInstanceWrapper.ReadOnlySelectedDummyInstancePropertyImpl.html
out/artifacts/gg/gg.jar
*.dll
*.dat
*.exe
*.cab
*.hdr
*.ini
out/artifacts/gg/gg.jar
*.png
out/artifacts/gg/gg.jar
src/main/resources/markdown_practice/readme2.md
src/main/resources/markdown_practice/readme_demo.md
src/main/resources/readme.md
src/main/resources/markdown_practice/graph.md
src/main/resources/markdown_practice/readme2.md
src/main/resources/markdown_practice/readme2.md
src/main/resources/markdown_practice/readme2.md
out/artifacts/gg/gg.jar
